USE [master]
GO
/****** Object:  Database [QL_VEPHIM]    Script Date: 4/30/2026 2:06:40 PM ******/
CREATE DATABASE [QL_VEPHIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_VEPHIM', FILENAME = N'D:\3 Software Stuff\IT learning Tools\SQL Server Developer\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_VEPHIM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_VEPHIM_log', FILENAME = N'D:\3 Software Stuff\IT learning Tools\SQL Server Developer\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_VEPHIM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_VEPHIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_VEPHIM]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MA_GHE] [nchar](5) NOT NULL,
	[SOGHE] [nvarchar](5) NOT NULL,
	[MA_PHONG] [nchar](5) NOT NULL,
	[MA_LOAIGHE] [nchar](5) NULL,
 CONSTRAINT [PK_GHE] PRIMARY KEY CLUSTERED 
(
	[MA_GHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KHACH] [nchar](5) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [nchar](11) NOT NULL,
	[CCCD] [nchar](12) NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[VAITRO] [nvarchar](10) NULL,
	[NGAYTAO] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MA_KHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUNGGIO]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUNGGIO](
	[MA_KHUNGGIO] [nchar](5) NOT NULL,
	[GIOBATDAU] [time](7) NOT NULL,
	[GIOKETTHUC] [time](7) NOT NULL,
 CONSTRAINT [PK_KHUNGGIO] PRIMARY KEY CLUSTERED 
(
	[MA_KHUNGGIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHCHIEU]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHCHIEU](
	[MA_LICHCHIEU] [nchar](5) NOT NULL,
	[MA_PHIM] [nchar](5) NOT NULL,
	[MA_PHONG] [nchar](5) NOT NULL,
	[MA_KHUNGGIO] [nchar](5) NOT NULL,
	[NGAYCHIEU] [date] NOT NULL,
	[GIATVE_PHUTROI] [decimal](10, 0) NULL,
 CONSTRAINT [PK_LICHCHIEU] PRIMARY KEY CLUSTERED 
(
	[MA_LICHCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIGHE]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGHE](
	[MA_LOAIGHE] [nchar](5) NOT NULL,
	[TEN_LOAIGHE] [nvarchar](10) NOT NULL,
	[GIATVE] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_LOAIGHE] PRIMARY KEY CLUSTERED 
(
	[MA_LOAIGHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MA_PHIM] [nchar](5) NOT NULL,
	[TEN_PHIM] [nvarchar](200) NOT NULL,
	[THOILUONG] [int] NULL,
	[NGAYKHOICHIEU] [date] NULL,
	[MOTA] [nvarchar](max) NULL,
	[POSTER] [nvarchar](255) NULL,
	[DAO_DIEN] [nvarchar](100) NULL,
	[DIEN_VIEN] [nvarchar](500) NULL,
	[GIOI_HAN_TUOI] [nvarchar](5) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_PHIM] PRIMARY KEY CLUSTERED 
(
	[MA_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM_THELOAI]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM_THELOAI](
	[MA_PHIM] [nchar](5) NOT NULL,
	[MA_THELOAI] [nchar](5) NOT NULL,
 CONSTRAINT [PK_PHIM_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MA_PHIM] ASC,
	[MA_THELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MA_PHONG] [nchar](5) NOT NULL,
	[TEN_PHONG] [nvarchar](50) NOT NULL,
	[MA_RAP] [nchar](5) NOT NULL,
	[TONGSOGHE] [int] NULL,
 CONSTRAINT [PK_PHONGCHIEU] PRIMARY KEY CLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAPCHIEU]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPCHIEU](
	[MA_RAP] [nchar](5) NOT NULL,
	[TEN_RAP] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_RAPCHIEU] PRIMARY KEY CLUSTERED 
(
	[MA_RAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MA_THELOAI] [nchar](5) NOT NULL,
	[TEN_THELOAI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MA_THELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 4/30/2026 2:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MA_VE] [nchar](5) NOT NULL,
	[MA_KHACH] [nchar](5) NULL,
	[MA_LICHCHIEU] [nchar](5) NOT NULL,
	[MA_GHE] [nchar](5) NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[TONGTIEN] [decimal](10, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MA_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GHE] ([MA_GHE], [SOGHE], [MA_PHONG], [MA_LOAIGHE]) VALUES (N'G0001', N'A1', N'PA01 ', N'LG01 ')
INSERT [dbo].[GHE] ([MA_GHE], [SOGHE], [MA_PHONG], [MA_LOAIGHE]) VALUES (N'G0002', N'A2', N'PA01 ', N'LG01 ')
INSERT [dbo].[GHE] ([MA_GHE], [SOGHE], [MA_PHONG], [MA_LOAIGHE]) VALUES (N'G0003', N'A3', N'PA01 ', N'LG01 ')
GO
INSERT [dbo].[KHACHHANG] ([MA_KHACH], [HOTEN], [SDT], [CCCD], [EMAIL], [MATKHAU], [VAITRO], [NGAYTAO]) VALUES (N'ADMIN', N'Quản Trị Viên', N'0999999999 ', NULL, N'admin@cineverse.vn', N'philong', N'Admin', CAST(N'2026-04-12T16:36:41.680' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MA_KHACH], [HOTEN], [SDT], [CCCD], [EMAIL], [MATKHAU], [VAITRO], [NGAYTAO]) VALUES (N'KH001', N'Nguyễn Văn An', N'0901234567 ', N'123456789012', N'nguyenvanan@gmail.com', N'hash_matkhau_1', N'KhachHang', CAST(N'2026-04-12T16:36:41.680' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MA_KHACH], [HOTEN], [SDT], [CCCD], [EMAIL], [MATKHAU], [VAITRO], [NGAYTAO]) VALUES (N'KH002', N'Trần Thị Bình', N'0912345678 ', N'234567890123', N'tranthibinh@gmail.com', N'hash_matkhau_2', N'KhachHang', CAST(N'2026-04-12T16:36:41.680' AS DateTime))
GO
INSERT [dbo].[KHUNGGIO] ([MA_KHUNGGIO], [GIOBATDAU], [GIOKETTHUC]) VALUES (N'KG01 ', CAST(N'08:00:00' AS Time), CAST(N'10:30:00' AS Time))
INSERT [dbo].[KHUNGGIO] ([MA_KHUNGGIO], [GIOBATDAU], [GIOKETTHUC]) VALUES (N'KG02 ', CAST(N'10:45:00' AS Time), CAST(N'13:15:00' AS Time))
INSERT [dbo].[KHUNGGIO] ([MA_KHUNGGIO], [GIOBATDAU], [GIOKETTHUC]) VALUES (N'KG03 ', CAST(N'13:30:00' AS Time), CAST(N'16:00:00' AS Time))
GO
INSERT [dbo].[LICHCHIEU] ([MA_LICHCHIEU], [MA_PHIM], [MA_PHONG], [MA_KHUNGGIO], [NGAYCHIEU], [GIATVE_PHUTROI]) VALUES (N'LC001', N'P0001', N'PA01 ', N'KG03 ', CAST(N'2025-04-15' AS Date), CAST(0 AS Decimal(10, 0)))
INSERT [dbo].[LICHCHIEU] ([MA_LICHCHIEU], [MA_PHIM], [MA_PHONG], [MA_KHUNGGIO], [NGAYCHIEU], [GIATVE_PHUTROI]) VALUES (N'LC002', N'P0001', N'PA01 ', N'KG05 ', CAST(N'2025-04-15' AS Date), CAST(20000 AS Decimal(10, 0)))
INSERT [dbo].[LICHCHIEU] ([MA_LICHCHIEU], [MA_PHIM], [MA_PHONG], [MA_KHUNGGIO], [NGAYCHIEU], [GIATVE_PHUTROI]) VALUES (N'LC003', N'P0002', N'PA02 ', N'KG02 ', CAST(N'2025-04-15' AS Date), CAST(0 AS Decimal(10, 0)))
GO
INSERT [dbo].[LOAIGHE] ([MA_LOAIGHE], [TEN_LOAIGHE], [GIATVE]) VALUES (N'LG01 ', N'Thường', CAST(75000 AS Decimal(10, 0)))
INSERT [dbo].[LOAIGHE] ([MA_LOAIGHE], [TEN_LOAIGHE], [GIATVE]) VALUES (N'LG02 ', N'VIP', CAST(110000 AS Decimal(10, 0)))
INSERT [dbo].[LOAIGHE] ([MA_LOAIGHE], [TEN_LOAIGHE], [GIATVE]) VALUES (N'LG03 ', N'Đôi', CAST(150000 AS Decimal(10, 0)))
GO
INSERT [dbo].[PHIM] ([MA_PHIM], [TEN_PHIM], [THOILUONG], [NGAYKHOICHIEU], [MOTA], [POSTER], [DAO_DIEN], [DIEN_VIEN], [GIOI_HAN_TUOI], [TRANGTHAI]) VALUES (N'P0001', N'Avengers: Kỷ Nguyên Mới', 150, CAST(N'2025-01-01' AS Date), N'Các siêu anh hùng tập hợp để đối mặt với mối đe dọa lớn nhất từ trước đến nay.', N'avengers.jpg', N'Anthony Russo', N'Robert Downey Jr., Chris Evans, Scarlett Johansson', N'T13', N'Đang chiếu')
INSERT [dbo].[PHIM] ([MA_PHIM], [TEN_PHIM], [THOILUONG], [NGAYKHOICHIEU], [MOTA], [POSTER], [DAO_DIEN], [DIEN_VIEN], [GIOI_HAN_TUOI], [TRANGTHAI]) VALUES (N'P0002', N'Thám Tử Conan: Vùng Đất Bóng Tối', 120, CAST(N'2025-02-01' AS Date), N'Conan đối mặt với tổ chức Áo Đen trong một vụ án tại Tokyo.', N'conan.jpg', N'Kobun Shizuno', N'Kappei Yamaguchi, Minami Takayama', N'P', N'Đang chiếu')
INSERT [dbo].[PHIM] ([MA_PHIM], [TEN_PHIM], [THOILUONG], [NGAYKHOICHIEU], [MOTA], [POSTER], [DAO_DIEN], [DIEN_VIEN], [GIOI_HAN_TUOI], [TRANGTHAI]) VALUES (N'P0003', N'Kinh Dị Vùng Rừng Sâu', 100, CAST(N'2025-03-15' AS Date), N'Nhóm bạn trẻ mắc kẹt trong khu rừng bí ẩn với thứ gì đó đang rình rập.', N'horror.jpg', N'James Wan', N'Diễn viên A, Diễn viên B', N'T18', N'Sắp chiếu')
GO
INSERT [dbo].[PHIM_THELOAI] ([MA_PHIM], [MA_THELOAI]) VALUES (N'P0001', N'TL01 ')
INSERT [dbo].[PHIM_THELOAI] ([MA_PHIM], [MA_THELOAI]) VALUES (N'P0001', N'TL05 ')
INSERT [dbo].[PHIM_THELOAI] ([MA_PHIM], [MA_THELOAI]) VALUES (N'P0002', N'TL04 ')
GO
INSERT [dbo].[PHONGCHIEU] ([MA_PHONG], [TEN_PHONG], [MA_RAP], [TONGSOGHE]) VALUES (N'PA01 ', N'Phòng 1', N'A01  ', 60)
INSERT [dbo].[PHONGCHIEU] ([MA_PHONG], [TEN_PHONG], [MA_RAP], [TONGSOGHE]) VALUES (N'PA02 ', N'Phòng 2', N'A01  ', 40)
INSERT [dbo].[PHONGCHIEU] ([MA_PHONG], [TEN_PHONG], [MA_RAP], [TONGSOGHE]) VALUES (N'PB01 ', N'Phòng 1', N'A02  ', 50)
GO
INSERT [dbo].[RAPCHIEU] ([MA_RAP], [TEN_RAP], [DIACHI]) VALUES (N'A01  ', N'CinéVerse Huế', N'Vincom Center, 50 Hùng Vương, TP. Huế')
INSERT [dbo].[RAPCHIEU] ([MA_RAP], [TEN_RAP], [DIACHI]) VALUES (N'A02  ', N'CinéVerse Đà Nẵng', N'Lotte Mart, 6 Nại Nam, Đà Nẵng')
GO
INSERT [dbo].[THELOAI] ([MA_THELOAI], [TEN_THELOAI]) VALUES (N'TL01 ', N'Hành động')
INSERT [dbo].[THELOAI] ([MA_THELOAI], [TEN_THELOAI]) VALUES (N'TL02 ', N'Tình cảm')
INSERT [dbo].[THELOAI] ([MA_THELOAI], [TEN_THELOAI]) VALUES (N'TL03 ', N'Kinh dị')
GO
INSERT [dbo].[VE] ([MA_VE], [MA_KHACH], [MA_LICHCHIEU], [MA_GHE], [NGAYDAT], [TONGTIEN], [TRANGTHAI]) VALUES (N'VE001', N'KH001', N'LC001', N'G0001', CAST(N'2026-04-12T16:36:41.680' AS DateTime), CAST(75000 AS Decimal(10, 0)), N'Đã đặt')
INSERT [dbo].[VE] ([MA_VE], [MA_KHACH], [MA_LICHCHIEU], [MA_GHE], [NGAYDAT], [TONGTIEN], [TRANGTHAI]) VALUES (N'VE002', N'KH001', N'LC001', N'G0002', CAST(N'2026-04-12T16:36:41.680' AS DateTime), CAST(75000 AS Decimal(10, 0)), N'Đã đặt')
INSERT [dbo].[VE] ([MA_VE], [MA_KHACH], [MA_LICHCHIEU], [MA_GHE], [NGAYDAT], [TONGTIEN], [TRANGTHAI]) VALUES (N'VE003', N'KH002', N'LC002', N'G0005', CAST(N'2026-04-12T16:36:41.680' AS DateTime), CAST(130000 AS Decimal(10, 0)), N'Đã đặt')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__161CF7241D84A315]    Script Date: 4/30/2026 2:06:40 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__CA1930A587180FAC]    Script Date: 4/30/2026 2:06:40 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PHONG_GIO_NGAY]    Script Date: 4/30/2026 2:06:40 PM ******/
ALTER TABLE [dbo].[LICHCHIEU] ADD  CONSTRAINT [UQ_PHONG_GIO_NGAY] UNIQUE NONCLUSTERED 
(
	[MA_PHONG] ASC,
	[MA_KHUNGGIO] ASC,
	[NGAYCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_GHE_LICH]    Script Date: 4/30/2026 2:06:40 PM ******/
ALTER TABLE [dbo].[VE] ADD  CONSTRAINT [UQ_GHE_LICH] UNIQUE NONCLUSTERED 
(
	[MA_GHE] ASC,
	[MA_LICHCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'KhachHang') FOR [VAITRO]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[LICHCHIEU] ADD  DEFAULT ((0)) FOR [GIATVE_PHUTROI]
GO
ALTER TABLE [dbo].[LOAIGHE] ADD  DEFAULT ((0)) FOR [GIATVE]
GO
ALTER TABLE [dbo].[PHIM] ADD  DEFAULT (N'Đang chiếu') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT (N'Đã đặt') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_LOAIGHE] FOREIGN KEY([MA_LOAIGHE])
REFERENCES [dbo].[LOAIGHE] ([MA_LOAIGHE])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_LOAIGHE]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONGCHIEU] ([MA_PHONG])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_PHONG]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LC_KG] FOREIGN KEY([MA_KHUNGGIO])
REFERENCES [dbo].[KHUNGGIO] ([MA_KHUNGGIO])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK_LC_KG]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LC_PHIM] FOREIGN KEY([MA_PHIM])
REFERENCES [dbo].[PHIM] ([MA_PHIM])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK_LC_PHIM]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LC_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONGCHIEU] ([MA_PHONG])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK_LC_PHONG]
GO
ALTER TABLE [dbo].[PHIM_THELOAI]  WITH CHECK ADD  CONSTRAINT [FK_PT_PHIM] FOREIGN KEY([MA_PHIM])
REFERENCES [dbo].[PHIM] ([MA_PHIM])
GO
ALTER TABLE [dbo].[PHIM_THELOAI] CHECK CONSTRAINT [FK_PT_PHIM]
GO
ALTER TABLE [dbo].[PHIM_THELOAI]  WITH CHECK ADD  CONSTRAINT [FK_PT_THELOAI] FOREIGN KEY([MA_THELOAI])
REFERENCES [dbo].[THELOAI] ([MA_THELOAI])
GO
ALTER TABLE [dbo].[PHIM_THELOAI] CHECK CONSTRAINT [FK_PT_THELOAI]
GO
ALTER TABLE [dbo].[PHONGCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_RAP] FOREIGN KEY([MA_RAP])
REFERENCES [dbo].[RAPCHIEU] ([MA_RAP])
GO
ALTER TABLE [dbo].[PHONGCHIEU] CHECK CONSTRAINT [FK_PHONG_RAP]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE] FOREIGN KEY([MA_GHE])
REFERENCES [dbo].[GHE] ([MA_GHE])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_GHE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_KH] FOREIGN KEY([MA_KHACH])
REFERENCES [dbo].[KHACHHANG] ([MA_KHACH])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_KH]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_LC] FOREIGN KEY([MA_LICHCHIEU])
REFERENCES [dbo].[LICHCHIEU] ([MA_LICHCHIEU])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_LC]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([VAITRO]=N'Admin' OR [VAITRO]=N'KhachHang'))
GO
ALTER TABLE [dbo].[LOAIGHE]  WITH CHECK ADD CHECK  (([TEN_LOAIGHE]=N'Thường' OR [TEN_LOAIGHE]=N'Đôi' OR [TEN_LOAIGHE]=N'VIP'))
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD CHECK  (([GIOI_HAN_TUOI]='T18' OR [GIOI_HAN_TUOI]='T16' OR [GIOI_HAN_TUOI]='T13' OR [GIOI_HAN_TUOI]='P'))
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD CHECK  (([THOILUONG]>(0)))
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Ngừng chiếu' OR [TRANGTHAI]=N'Sắp chiếu' OR [TRANGTHAI]=N'Đang chiếu'))
GO
ALTER TABLE [dbo].[PHONGCHIEU]  WITH CHECK ADD CHECK  (([TONGSOGHE]>(0)))
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Đã hủy' OR [TRANGTHAI]=N'Đã đặt'))
GO
USE [master]
GO
